<h1>Welcome to Serenity Massages!</h1>
<br>
<%= button_to "Login", login_path, method: :get %><br>
<%= button_to "Sign Up", signup_path, method: :get %><br>
<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
  <h2>Facebook UID: <%= @user.uid %></h2>
<% else %>
  <%= button_to 'Log in with Facebook!', '/auth/facebook', method: :get %>
<% end %>