<h1>Your Appointments</h1>
<br>

<% @appointments.each do |appointment| %>
  <h2><%= appointment.massage.try(:category) %> - <%= appointment.massage.try(:length) %> min </h2> 
  <h4><%= appointment.location %></h4>
  <h4><%= appointment.date %></h4>
  <h4><%= appointment.time %></h4>
  <br>
<% end %>
  