<h1>Make an appointment right here!</h1>

<%= form_for @appointment do |f| %>
    <%= f.label :date %><br>
    <%= f.select :date, options_for_select(["May 6th", "May 7th", "May 8th", "May 12th", "May 15", "May 20"]) %><br>
    <br>
    <%= f.label :location %><br>
    <%= f.select :location, options_for_select(["Atlanta", "New York", "Houston", "Miami", "San Francisco", "Seattle", "Las Vegsa", "Chicago", "Detroit"]) %>
    <br>
    <br>
    <%= f.submit "Create an Appointment" %>
    <% end %>