<!DOCTYPE html>
<html>
  <head>
    <title>Serenity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <nav class='navbar'>
      <%= link_to 'Logout', logout_path, method: :delete %>
      <%= link_to 'Home', appointments_path %>
    
    </nav>

    <div class='container'>
      <%= yield %>
    </div>

  </body>
</html>
